@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Pontano+Sans&display=swap");
/* 
tipografias
font-family: 'Montserrat Alternates', sans-serif; principal
font-family: 'Pontano Sans', sans-serif; secundaria
paleta de color
#F2C48D 
#D98C5F
#8C3D20
#8C5C4A
#D9D9D9
#63432b
#672d18
*/
/**Variables**/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  margin: 0px;
  width: 100%;
  font-family: "Pontano Sans", sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 450px) {
  header {
    font-size: 10px;
    width: auto;
  }
}

/*NavBar*/
.fondoNavBar {
  background-color: #8C5C4A;
}

.logo {
  height: 140px;
}
@media screen and (max-width: 450px) {
  .logo {
    height: 90px;
  }
}

.navbar-nav li {
  font-size: 20px;
}
@media screen and (max-width: 450px) {
  .navbar-nav li {
    font-size: 18px;
  }
}
.navbar-nav li a {
  text-decoration: none;
  color: #672d18;
}
.navbar-nav li a:hover {
  color: #D9D9D9;
}

.navbar-toggler {
  background-color: rgba(103, 45, 24, 0.3215686275);
}

/**main**/
main {
  height: 100%;
  width: 100%;
  font-family: "Pontano Sans", sans-serif;
  color: #8C3D20;
  background-color: rgba(217, 140, 95, 0.6431372549);
}

/**main index**/
.sectionBannerIndex {
  width: 100%;
  height: 600px;
  padding: 50px;
  background-image: url(../img/crois.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .sectionBannerIndex {
    height: 200px;
    padding: 10px;
  }
}
.sectionBannerIndex span {
  text-decoration-line: underline;
}
.sectionBannerIndex a {
  height: 40px;
  width: 80px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  background-color: rgba(140, 92, 74, 0.8588235294);
  color: #672d18;
}
.sectionBannerIndex a:hover {
  color: #D9D9D9;
}
@media screen and (max-width: 450px) {
  .sectionBannerIndex a {
    height: 10px;
    width: 30px;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
  }
}

.tipografia-style {
  font-family: "Montserrat Alternates";
  color: #672d18;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  padding: 40px;
  padding-top: 50px;
}
.tipografia-style:hover {
  transition: all 2s;
  transform: scale(2);
}
@media screen and (max-width: 450px) {
  .tipografia-style {
    font-size: 25px;
    padding: 5px;
    padding-top: 30px;
  }
}

.sectionBanner2-index {
  width: 100%;
  height: 400px;
  padding: 50px;
  background-image: url(../img/cakeFrutoRojo.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}
@media screen and (max-width: 450px) {
  .sectionBanner2-index {
    height: 200px;
    padding: 10px;
  }
}
.sectionBanner2-index p {
  height: 60px;
  width: 380px;
  padding: 10px 15px;
  border-radius: 10px;
  color: #D9D9D9;
  background-color: rgba(140, 92, 74, 0.8588235294);
  font-size: 30px;
  font-style: italic;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .sectionBanner2-index p {
    height: 45px;
    width: 260px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
  }
}
.sectionBanner2-index a {
  height: 50px;
  width: 260px;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 17px;
  background-color: rgba(140, 92, 74, 0.8588235294);
  color: #672d18;
}
.sectionBanner2-index a:hover {
  color: #D9D9D9;
}
@media screen and (max-width: 450px) {
  .sectionBanner2-index a {
    height: 40px;
    width: 230px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 15px;
  }
}

/**Main Nosotros**/
.mainNosotros h2 {
  padding: 20px;
  text-align: center;
  font-family: "Montserrat Alternates";
}
.mainNosotros div div p {
  text-align: center;
  font-size: 20px;
  padding-bottom: 15px;
}
.mainNosotros div div .nleft {
  height: 700px;
  background-image: url(../img/baker.jpg);
  background-size: cover;
  background-position: center;
}
.mainNosotros div div .nrigth {
  height: 750px;
}
.mainNosotros div div .nrigth h3 {
  padding: 20px;
  text-align: center;
  font-family: "Montserrat Alternates";
}
.mainNosotros div div .nrigth p {
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
}
.mainNosotros div div .nrigth p .text-muted {
  font-size: 18px;
}

/**Main servicio de lunch**/
.mainServicioLunch h2 {
  padding: 20px;
  text-align: center;
  font-family: "Montserrat Alternates";
}
.mainServicioLunch p {
  padding: 20px;
  text-align: center;
  font-size: 18px;
}
.mainServicioLunch div .colorAcordeon {
  color: #672d18;
}
.mainServicioLunch div .accordion-button {
  background-color: rgba(217, 140, 95, 0.6431372549);
  color: #672d18;
}

/**main pedidos personalizados**/
.mainPedidosPersonalizados {
  text-align: center;
  padding-bottom: 15px;
}
.mainPedidosPersonalizados .bannerPedidosPersonalizados {
  width: 100%;
  height: 600px;
  padding: 15px;
  background-image: url(../img/chessecake.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 450px) {
  .mainPedidosPersonalizados .bannerPedidosPersonalizados {
    height: 200px;
    padding: 10px;
  }
}
.mainPedidosPersonalizados div h2 {
  padding: 20px;
  font-family: "Montserrat Alternates";
}
.mainPedidosPersonalizados div p {
  text-align: center;
  padding-bottom: 25px;
  font-size: 18px;
}
@media screen and (max-width: 450px) {
  .mainPedidosPersonalizados div p {
    padding-bottom: 5px;
  }
}
.mainPedidosPersonalizados p {
  font-size: 17px;
  padding: 25px;
}
.mainPedidosPersonalizados p span {
  font-size: 15px;
}

/**main nuestras delicias**/
.mainNuestrasDelicias {
  width: 100%;
  height: 100%;
  text-align: center;
}
.mainNuestrasDelicias .bannerNuestrasDelicias {
  width: 100%;
  height: 600px;
  padding: 15px;
  background-image: url(../img/selvaNegra.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 450px) {
  .mainNuestrasDelicias .bannerNuestrasDelicias {
    height: 200px;
    padding: 10px;
  }
}
.mainNuestrasDelicias h2 {
  padding: 20px;
  font-family: "Montserrat Alternates";
}
.mainNuestrasDelicias p {
  font-size: 18px;
}
.mainNuestrasDelicias div .letraCarousel {
  background-color: rgba(214, 214, 214, 0.4705882353);
  color: #672d18;
}

/**footer**/
footer {
  padding: 10px;
  min-height: 90px;
  width: 100%;
  font-family: "Pontano Sans", sans-serif;
  font-size: 15px;
  background-color: #8C5C4A;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 450px) {
  footer {
    padding: 5px;
    min-height: 50px;
  }
}
footer .redes ul {
  padding: 5px;
}
footer .redes ul li {
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 15px;
  list-style: none;
}
footer .redes ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #D9D9D9;
}
footer .redes ul li a:hover {
  color: #672d18;
}
footer .redes ul li .fa-brands {
  letter-spacing: 5px;
}
footer .footerDireccion p {
  display: flex;
  justify-items: center;
  padding: 10px;
  color: #D9D9D9;
  text-align: center;
  padding-left: 200px;
}
@media screen and (max-width: 450px) {
  footer .footerDireccion p {
    padding-left: 100px;
  }
}

.subir {
  height: 50px;
  width: 50px;
  background-color: #D9D9D9;
  color: #8C3D20;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: 0 0 30px #672d18;
}

/*# sourceMappingURL=estilos.css.map */
