@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Pontano+Sans&display=swap');
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";
@import "./utilities/variables";
@import "./utilities/mixin";
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
