/*VARIABLES*/

/*PALETA DE COLOR*/

$color1: #F2C48D;
$color2: #d98c5f;
$color3: #8C3D20;
$color4: #8C5C4A;
$color5: #D9D9D9;
$color6: #63432b;
$color7: #672d18;

/*FUENTES*/

$fontPrincipal: 'Montserrat Alternates', sans-serif;
$fontSecundaria: 'Pontano Sans', sans-serif;
