@import "../utilities/variables";
@import "../utilities/mapas";

/*FOOTER*/

footer{
    padding: 10px;
    min-height: 90px;
    width: 100%;
    font-family: $fontSecundaria;
    font-size: map-get($footer, font-size);
    background-color: map-get($footer, background-color);
    display: flex;
    align-items: center;

    @media screen and (max-width:450px){
        padding: 5px;
        min-height: 50px;
    }

    .redes{
        ul{
            padding: 5px;
            li{
                flex-direction: row;
                justify-content:flex-start;
                margin-top: 10px;
                margin-left: 15px;
                list-style: none;
                
                a{
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $color5;

                    &:hover{
                        color: $color7;
                    }
                }

                .fa-brands{
                    letter-spacing: 5px;
                }
            }
        }
    }
    .footerDireccion{
        p{
            display: flex;
            justify-items: center;
            padding: 10px;
            color: $color5;
            text-align: center;
            padding-left: 200px;

            @media screen and (max-width:450px){
                padding-left: 100px;
            }
        }
    }
    .logofooter{
        width: 150px;
        padding-right: 40px;
    }
}
/*FECHA PARA SUBIR*/
.subir{
    height: 50px;
    width: 50px;
    background-color:$color5;
    color: $color3;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 0 0 30px $color7;
}