@import "../utilities/variables";
@import "../utilities/mixin";
@import "../utilities/extend";
@import "../utilities/mapas";

/*MAIN*/

main{
    height: 100%;
    width: 100%;
    font-family: 'Pontano Sans', sans-serif;
    color: $color3;
    background-color: #d98c5fa4;    
}

/**INDEX**/

.sectionBannerIndex{
    width: 100%;
    height: 600px;
    padding: 50px;
    background-image: url(../img/crois.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items:center;

    @media screen and (max-width:760px){
        height: 400px;
        padding: 10px;
    }

    @media screen and (max-width:450px){
        @include sizeBannerMediaQuery;
    }

    span{
        text-decoration-line: underline;
    }

    a{
        height: 40px;
        width: 80px;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 20px;
        background-color: #8c5c4adb;
        color: $color7;

        &:hover{
            color: $color5;
        }

        @media screen and (max-width:450px){
            height: 10px;
            width: 30px;
            padding: 5px 10px;
            font-size: 18px;
            border-radius: 10px;
        }
    }
}
.tipografia-style{
    font-family: 'Montserrat Alternates';
    color: $color7;
    text-align: center;
    font-size: 30px;
    text-decoration:underline;
    padding: 40px;
    padding-top: 50px;

    &:hover{
        transition: all 2s;
        transform:scale(2);

        @media screen and (max-width:760px){
            transform: none;
        }

        @media screen and (max-width:450px){
            transform: none;
        }
    }

    @media screen and (max-width:450px){
        font-size: 25px;
        padding: 5px;
        padding-top: 30px;
    }
}
.sectionBanner2-index{
    width: 100%;
    height: 400px;
    padding: 50px;
    background-image: url(../img/cakeFrutoRojo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:baseline;

    @media screen and (max-width:760px){
        height: 300px;
        padding: 10px;
    }

    @media screen and (max-width:450px){
        @include sizeBannerMediaQuery;
    }

    p{
        height: 60px;
        width: 380px;
        padding: 10px 15px;
        border-radius: 10px;
        color: $color5;
        background-color: #8c5c4adb;
        font-size: 30px;
        font-style: italic;
        text-align: center;

        @media screen and (max-width:760px){
            height: 45px;
            width: 310px;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 25px;
        }

        @media screen and (max-width:450px){
            height: 45px;
            width: 260px;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 20px;
        }
    }

    a{
        height: 50px;
        width: 290px;
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 20px;
        background-color: #8c5c4adb;
        color: $color7;

        &:hover{
            color: $color5;
        }

        @media screen and (max-width:450px){
            height: 40px;
            width: 230px;
            padding: 10px 15px;
            border-radius: 10px;
            font-size: 15px;
        }
    }
}

/**NOSOTROS**/

.mainNosotros{
    h1{
        padding: 20px;
        text-align: center;
        font-family: 'Montserrat Alternates';
    }
    div{
        div{
            p{
                text-align: center;
                font-size: 18px;
                padding-bottom: 15px;
            }
    
            .nleft{
                height: 700px;
                background-image: url(../img/baker.jpg);
                background-size: cover;
                background-position: center;

                @media screen and (max-width:760px){
                    height: 600px;
                }
            }
    
            .nrigth{
                height: 750px;

                @media screen and (max-width:760px){
                    height: auto;
                }

                @media screen and (max-width:450px){
                    height: auto;
                }
    
                h2{
                    @extend %h;
                }
    
                p{
                    padding: 10px;
                    padding-bottom: 20px;
                    text-align: center;
                    font-size: 18px;
    
                    .text-muted{
                        font-style: italic;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
/**SERVICIO DE LUNCH**/

.mainServicioLunch{
    h1{
        @extend %h;
    }

    p{
        padding: 20px;
        text-align: center;
        font-size: 18px;
    }

    div{
        .colorAcordeon{
            color: $color7;
        }
        .accordion-button{
            background-color: #d98c5fa4;
            color: $color7;
            font-size: 20px;

            @media screen and (max-width:450px){
                font-size: 15px;
            }
        }
        p{
            a{
                color: $color7;
                &:hover{
                    color: $color1;
                }
            }
            @media screen and (max-width:450px){
                font-size: 15px;
            }
        }
    }

    .p2{
        font-size: 15px;
    }
}
/**PEDIDOS PERSONALIZADOS**/

.mainPedidosPersonalizados{
    text-align: center;
    padding-bottom: 15px;

    .bannerPedidosPersonalizados{
        @include sizeBanner;
        background-image: url(../img/chessecake.jpg);
        background-size: cover;
        background-position: center;

        @media screen and (max-width:760px){
            height: 400px;
            padding: 10px;
        }

        @media screen and (max-width:450px){
        @include sizeBannerMediaQuery;
        }
    }

    div{
        h1{
            @extend %h;
        }

        p{
            text-align: center;
            padding-bottom: 25px;
            font-size: 18px;

            @media screen and (max-width:450px){
                padding-bottom: 5px;
            }
        }
    }

    p{
        font-size: 17px;
        padding: 25px;

        span{
            font-size: 15px;
        }
    }
}

/**NUESTRAS DELICIAS**/

.mainNuestrasDelicias{
    width: 100%;
    height: 100%;

    .bannerNuestrasDelicias{
        @include sizeBanner;
        background-image: url(../img/selvaNegra.jpg);
        background-size: cover;
        background-position: center;

        @media screen and (max-width:760px){
            height: 400px;
            padding: 10px;
        }

        @media screen and (max-width:450px){
        @include sizeBannerMediaQuery;
        }
    }

    h1{
        text-align: center;
        padding: 20px;
        font-family: 'Montserrat Alternates';
    }

    p{
        text-align: center;
        font-size: 20px;
    }

    div{
        .container{
            @media screen and (max-width:450px){
                padding-right: 0%;
                padding-left: 0%;
                margin-left: 0%;
                margin-right: 0%;
            }
        }
        .letraCarousel{
            background-color: #d6d6d69a;
            color:$color7;

            h3{
                @media screen and (max-width:450px){
                    font-size: 17px;
                }
            }

            p{
                text-align: center;
                @media screen and (max-width:450px){
                    font-size: 12px;
                }
            }
        }
    }

    div{
        h2{
            text-align: left;
            padding: 20px;
            font-family: 'Montserrat Alternates';

            @media screen and (max-width:450px){
                font-size: 20px;
            }
        }

        p{
            text-align: left;
            padding-left: 20px;

            @media screen and (max-width:450px){
                font-size: 17px;
            }
        }
    }
}
.pSalado{
    padding-bottom: 50px;
}
/*CAROUSELES*/
.tamañoCarousel{
    padding: 20px;
    padding-bottom: 50px;
    @media screen and (max-width:450px){
        width: 400px;
        padding: 20px;
        padding-right: 110px;
    }
}
.tamañoCarouselND{
    padding: 20px;
    padding-bottom: 50px;
    @media screen and (max-width:450px){
        width: 120%;
    }
}